{% extends "bootstrap/base.html" %}

{% block html %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yogee - Find good locations to open new yoga studios</title>

    {% block styles %}
    
    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">  
    
    <!-- Custom styles for this template -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- Custom styles for Bokeh -->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet">
    {% endblock %}   

  </head>
  {% endblock %}
  
  {% block body %}
  <body id="page-top">
    {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Yogee</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Yogee
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#info">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#app">App</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#aboutme">About Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Yogee</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Find good locations to open new yoga studios</h2>
          <a href="#app" class="btn btn-primary js-scroll-trigger">Start Looking!</a>
        </div>
      </div>
    </header>

    <!-- Info Section -->
    <section id="info" class="about-section text-center">
      <div class="info">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-black mb-4">Open a Yoga Studio</h2>
            <img src="static/img/yoga-studio-inside.jpg" class="img-fluid" alt="studio inside" height="361" width="600" >
            <h2 class="text-black mb-4"></h2>
            <p class="text-black-50"> Yogee is a web app that recommends good neighborhoods to open new yoga studios in NY state. Aspiring yoga studio owners can type in the zipcode where they want open a store and Yogee shows nearby districts that are good locations. The Yogee score (0-100) is the predicted chance that a studio opening at that location can survive at least one year. </p>
          </div>
        </div>        
      </div>
    </section>

    <!-- app Section -->
    <section id="app" class="about-section text-center">
      <div class="container">
          <div class="col-lg-8 mx-auto">
          <h2 class="text-black mb-4">Test Yogee</h2>
          </div>
          <div class="bk-root">
            {{ the_script|safe }}
          </div>
    </section>

    <!-- About Me Section -->
    <section id="aboutme" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-black mb-4"></h2>
            <h2 class="text-black mb-4">About Me</h2>
            <img src="static/img/H-Cham-Web-126-purple.png" alt="Henry Cham headshot" width="400" height="400">
            <h2 class="text-black mb-4"></h2>           
            <h2 class="text-black mb-4">Henry Cham</h2>
            <p class="text-black-50"> I am a neuroscience graduate student, a data science fellow at Insight, and the creator of Yogee. My goal is to applied my knowledge in statistics, machine learning, and data visualization to macroscopic business challenges. In my free time, I enjoy practicing brazilian jiu-jitsu and listening to history podcasts. </p>
            <h2 class="text-black mb-4"></h2>
            <h2 class="text-black mb-4"></h2>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">6822 Narrows Ave, Brooklyn NY</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">henry.cham@outlook.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+1 (281) 691-3051</div>
              </div>
            </div>            
          </div>
          
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">6822 Narrows Ave, Brooklyn NY</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Yogee 2018
      </div>
    </footer>

    {% block scripts %}
    {{super()}}
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/grayscale.min.js"></script>
    {% endblock %}
  </body>
  {% endblock %}

</html>
{% endblock %}

